{% extends "users/base.html" %}

{% comment "primary code" %}

<!-- this file is the page for upload new data file for forecasting -->


{% block content %}

    <h1>start a new forecast item</h1>
    <form action="{% url 'forecast:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ uploadForm.as_p }}
    <button name="Submit">ok!</button>
    </form>

{% endblock content %}
{% endcomment %}

{% load bootstrap3 %}

{% block header %}
<h2>start a new forecast item</h2>
{% endblock header%}

{% block content%}
    <form action="{% url 'forecast:upload' %}" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form uploadForm%} 
    
    <button name="Submit">ok!</button>
     <input type="hidden" name="next" value="{% url 'users:index' %}"/>
    </form>
    
{% endblock content%}